@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Tilt+Neon&display=swap');

/* Override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tilt Neon", sans-serif;
    font-style: normal; /* Prevent default cursive styles */
}

/* Scrollbar style */
::-webkit-scrollbar {
    width: 5px; 
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #8a8d91; 
    border-radius: 6px;
}
::-webkit-scrollbar-corner {
    background-color: #606468; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #76797b;
}

/* Main */
main {
    /* Cover the entire screen */
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #3E4349;
}

/* General styles */

input {
    background-color: #dee4eb;
    border: transparent;
    padding: 5px 0;
}

/* Background environment */
#background-environment {
    display: flex;
    position: absolute;
    width: inherit;
    height: 60vh;
    justify-content: center;
    overflow: hidden;
}

/* Environment image accessed with id to simplify future implementations */
#mountains {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 55vw;
}

/* Horizon */
#horizon {
    position: absolute; 
    bottom: 0;
    left: 0;   
    width: inherit;
    height: 5px;
    background-color: #4c5054;
    filter: blur(3px);
}

/* Main area */
.main-area {
    position: absolute; /* Enables z-index to take effect */
    z-index: 1; /* Place the game area on top of the background environment */
    width: 100vw;
    height: 100vh;
    color: #ffffff;
}

/* Welcome screen */
#welcome-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game setup */
#game-setup {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
}

/* Add player section */
#add-player {
    display: flex;
    flex-direction: column;
}

/* Add player button */
#add-player-button {
    cursor: pointer;
    padding: 4px 0;
    border: 1px solid #ffffff31;
    background-color: #ffffff1f;
    color: #ffffff
}
#add-player-button:hover {
    background-color: #ffffff30;
}

/* Player list outer-most container  */ 
#game-setup > div {
    display: flex;
    position: absolute;
    top: 6vh;
    right: 6vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container for all players */
#player-list-container {
    min-width: 30vh;
    max-width: 40vh;
    min-height: 15vh;
    max-height: 37vh;
    padding: 5px;
    overflow-y: auto; /* Adds a scroll bar when exceeding the max-height */
    background-color: #383c41;
    border: 1px solid #ffffff20;
    border-radius: 4px;
}

/* The player element */
#player-list > div {
    background-color: #565c64;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px 0;
}

/* Game area */
#game-area {
    display: none; /* Hidden by default */
}

/* Rage meter */
#rage-meter {
    position: absolute;
    top: 13vh;
    left: 10vw;
    width: 16vw;
    height: 45px;
    border-radius: 4px;
    border: 2px solid #6d767d;
}

/* The filled range */
#rage-meter div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    width: 0%;
    background-color: #ff5d5d; 
    height: 100%;
    border-radius: 2px;
}

#rage-meter h3 {
    position: relative;
    text-align: center;
    width: 100%;
    color: #98a4ab;
    font-weight: 300;
    font-size: 90%;
    text-transform: uppercase;
}

#rage-meter h3 em {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 120%;
    font-weight: 100;
    color: #d5dfe4;
    text-decoration: underline 2px #ff5d5d;
}

/* Bear */
#bear {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: inherit;
    height: inherit;
}

#bear img {
    height: 33vh;
    width: auto; /* Force img scale proportionally */
}

/* Poke button */
#poke-button {
    position: absolute;
    bottom: 17vh;
    right: 16vw;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    border: 4px solid #ffffff31;
    border-radius: 50%;
    background-color: #ffffff1f;
}
#poke-button:hover {
    border: 4px solid #ffffff;
}

#poke-button img {
    width: 68%;
    height: 68%;
}

#poke-button h3 {
    position: absolute;
    bottom: -30px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 120%;
    font-weight: 100;
    color: #d5dfe4;
}
